#root {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.labelForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}

button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #f1356d;
  color: white;
  cursor: pointer;
  margin: 0.5rem 0;
  border-radius: 4px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  opacity: 0.8;
}

.error {
  color: red;
  font-size: 0.8rem;
}
